* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.2rem;
    display: flex;
    flex-direction: column;
    flex-basis: 100vh;
}

.flex {
    display: flex;
}

.flex .container .column {
    height: 80vh;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.section {
    flex-basis: 50px;
    background-color: aquamarine;
    border: 1px solid black;
    padding: 0px 20vh;
}

.flex .header .row {
    height: 20vh;
}