* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.2rem;
    display: flex;
    flex-direction: column;
    flex-basis: 100vh;
}

header {
    height: 620px;
    background-color: yellowgreen;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.column-reverse {
    flex-direction: column-reverse;
}

.row-reverse {
    flex-direction: row-reverse;
}

.flex.header.row {
    height: 100px;
    justify-content: space-between;
}

.content {
    height: 200px;
    padding: 100px 200px;
    align-items: center;
    text-align: center;


}

.logo {
    align-self: flex-start;
}

.menu {
    align-self: center;

}

.big.button {
    align-self: flex-end;
}

.container {
    height: 3800px;
}



.section {
    flex-basis: 950px;
    background-color: aquamarine;
    border: 1px solid black;
    padding: 0px 20vh;
    align-items: center;
    justify-content: center;
}





.footer {
    height: 670px;
    background-color: cadetblue;
}